---
layout: default
---
<h1>{{ site.title }}</h1>
<p>{{ site.description }}</p>

{% assign category_note_default = 'category,' | split: ',' %}
{% assign notes = site.notes | where_exp: 'note', 'note.tags != category_note_default' | sort: 'date' | reverse %}
<ul>
  {% for note in notes limit:5 %}
  <li>
    <a href="{{ note.url }}">{% if note.layout == "index" %}/{% endif %}{{ note.title }}</a>
    <p class="metadata">{{ note.updated | default: note.date | date: "%Y.%m.%d"}}</p>
  </li>
  {% endfor %}
</ul>

<form action="/search" method="get" class="header-item search-form">
  <input name="q" type="search" class="search-input">
  <input type="submit" value="검색" class="search-btn btn">
</form>
