html {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 300;
}

a {
    text-decoration: none;
}

main {
    width: 40%;
    margin:0 auto;
}

p {
    width: 100%;
    word-wrap: break-word;
    hyphens: auto;
}

img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-height: 20rem;
    width: auto;
}

figure.highlight {
    max-height: 20rem;
    overflow-y: auto;
}

@media screen and (max-width: 1024px) {
    main {
        width: 95%;
    }
}

article > table {
    border-spacing: 0;
    border-collapse: collapse;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

article > table th, article > table td {
    padding: 5px 18px;
    border-top: 1px solid #dddddd;
}

article > table tr:nth-child(even) {
    background: #f7f7f7;
}
