<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel='stylesheet' href='{{ site.static }}/css/style.css' type='text/css'>
</head>

<body>
  <header class="metadata">
    <nav>
      <a href="/{{ "대문" | url_encode }}">대문</a>
      |
      <a href="/{{ "태그" | url_encode }}">태그</a>
    </nav>
  </header>
  {{ content }}
  <footer>
    <address class="metadata">
      Gihyeon Sung &lt;<a href="mailto:gihyeon@gihyeon.xyz">gihyeon@gihyeon.xyz</a>&gt;
    </address>
  </footer>
</body>

</html>
