<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel='stylesheet' href='{{ site.static }}/css/style.css' type='text/css'>
</head>

<body>
  <header>
    <nav class="metadata">
      <a href="/index">index</a> | <a href="/tag">tag</a>
    </nav>
  </header>
  <main>{{ content }}</main>
  <footer>
    <address class="metadata">
      Gihyeon Sung &lt;<a href="mailto:gi@hyeon.io">gi@hyeon.io</a>&gt;
    </address>
  </footer>
</body>

</html>
